[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "*"
pillow = "*"
simple-photo-meta = {file = ".", editable = true}
appdirs = "*"
pillow-heif = "*"

[dev-packages]
setuptools = "*"
build = "*"
wheel = "*"
nuitka = "*"
pybind11 = "*"

[requires]
python_version = "3.13"
