[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pillow = "*"
pillow-heif = "*"
appdirs = "*"
pywebview = ">=5.0"
numpy = "*"
scipy = "*"
reverse_geocoder = "*"

[dev-packages]
setuptools = "*"
build = "*"
wheel = "*"
pybind11 = "*"
pyinstaller = "*"

[requires]
python_version = "3.13"
