appdirs==1.4.4
pillow==12.0.0
pillow-heif==1.1.1
pybind11==2.13.6
pyside6==6.9.0
pyside6-addons==6.9.0
pyside6-essentials==6.9.0
shiboken6==6.9.0
build==1.2.2.post1
nuitka==2.6.9
ordered-set==4.1.0
packaging==24.2
pybind11==2.13.6
pyproject-hooks==1.2.0
setuptools==78.1.0
wheel==0.45.1
zstandard==0.23.0
